In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [3]:
X = pd.read_csv('XScaled_dataset.csv')
X

,Unnamed: 0,Gender,Age,Ethnicity,Educational_Level,Income,Country_region,Hotel_Type,Adults,Children,...,Visted_Previously,Previous_Cancellations,Deposit_type,Booking_channel,Required_Car_Parking,Use_Promotion,Discount_Rate,Room_Rate,Reserved_duration,Days_more_to_login
0,0,0.0,0.423077,0.666667,0.333333,0.666667,0.333333,0.5,0.25,0.5,...,0.0,0.0,0.0,1.0,1.0,1.0,0.250,0.786667,0.0,0.063202
1,1,0.0,0.596154,0.666667,1.000000,0.333333,0.000000,0.5,0.50,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.000,0.566667,0.0,0.056180
2,2,0.0,0.461538,1.000000,0.333333,0.666667,0.000000,0.5,0.50,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.000,0.126667,1.0,0.009831
3,3,1.0,0.134615,0.000000,0.000000,1.000000,0.666667,0.0,0.75,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.125,0.293333,0.0,0.022472
4,4,0.0,0.846154,0.666667,0.666667,0.000000,0.000000,1.0,0.00,0.0,...,0.0,0.0,0.0,0.5,0.0,1.0,0.250,0.946667,0.0,0.023876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27494,27494,0.0,0.596154,0.000000,1.000000,0.666667,1.000000,0.5,0.00,0.5,...,1.0,1.0,0.0,1.0,1.0,1.0,0.250,0.000000,0.0,0.057584
27495,27495,0.0,0.596154,0.333333,0.000000,0.000000,0.666667,0.0,0.25,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.000,0.626667,0.0,0.183989
27496,27496,0.0,0.596154,0.666667,0.666667,0.333333,0.666667,0.0,0.25,0.0,...,0.0,0.0,0.0,0.5,1.0,1.0,0.125,0.680000,0.0,0.018258
27497,27497,1.0,0.903846,0.000000,0.000000,0.000000,0.666667,0.0,0.50,0.5,...,0.0,0.0,0.0,1.0,0.0,1.0,0.500,0.380000,0.0,0.143258
27498,27498,0.0,0.576923,1.000000,0.000000,0.000000,0.333333,1.0,0.50,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.000,0.733333,0.0,0.096910

In [4]:
X = X.drop(['Unnamed: 0'],axis = 'columns')
X

,Gender,Age,Ethnicity,Educational_Level,Income,Country_region,Hotel_Type,Adults,Children,Babies,...,Visted_Previously,Previous_Cancellations,Deposit_type,Booking_channel,Required_Car_Parking,Use_Promotion,Discount_Rate,Room_Rate,Reserved_duration,Days_more_to_login
0,0.0,0.423077,0.666667,0.333333,0.666667,0.333333,0.5,0.25,0.5,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.250,0.786667,0.0,0.063202
1,0.0,0.596154,0.666667,1.000000,0.333333,0.000000,0.5,0.50,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.000,0.566667,0.0,0.056180
2,0.0,0.461538,1.000000,0.333333,0.666667,0.000000,0.5,0.50,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.000,0.126667,1.0,0.009831
3,1.0,0.134615,0.000000,0.000000,1.000000,0.666667,0.0,0.75,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.125,0.293333,0.0,0.022472
4,0.0,0.846154,0.666667,0.666667,0.000000,0.000000,1.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.5,0.0,1.0,0.250,0.946667,0.0,0.023876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27494,0.0,0.596154,0.000000,1.000000,0.666667,1.000000,0.5,0.00,0.5,0.5,...,1.0,1.0,0.0,1.0,1.0,1.0,0.250,0.000000,0.0,0.057584
27495,0.0,0.596154,0.333333,0.000000,0.000000,0.666667,0.0,0.25,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.000,0.626667,0.0,0.183989
27496,0.0,0.596154,0.666667,0.666667,0.333333,0.666667,0.0,0.25,0.0,0.5,...,0.0,0.0,0.0,0.5,1.0,1.0,0.125,0.680000,0.0,0.018258
27497,1.0,0.903846,0.000000,0.000000,0.000000,0.666667,0.0,0.50,0.5,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.500,0.380000,0.0,0.143258
27498,0.0,0.576923,1.000000,0.000000,0.000000,0.333333,1.0,0.50,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.000,0.733333,0.0,0.096910

In [5]:
Y = pd.read_csv('YScaled_dataset.csv')
Y

       Unnamed: 0  Reservation_Status
0               0                   1
1               1                   1
2               2                   1
3               3                   1
4               4                   1
...           ...                 ...
27494       27494                   1
27495       27495                   3
27496       27496                   1
27497       27497                   2
27498       27498                   3

[27499 rows x 2 columns]

In [6]:
Y = Y.drop(['Unnamed: 0'],axis = 'columns')
Y

       Reservation_Status
0                       1
1                       1
2                       1
3                       1
4                       1
...                   ...
27494                   1
27495                   3
27496                   1
27497                   2
27498                   3

[27499 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2)

In [9]:
dtc = tree.DecisionTreeClassifier()

In [10]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
dtc.score(x_test,y_test)

0.6145454545454545

In [12]:
rf = RandomForestClassifier(n_estimators=120)

In [13]:
rf.fit(x_train,y_train)

C:\Users\Nadun\anaconda3\condabin\New folder\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=120,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
rf.score(x_test,y_test)

0.7643636363636364

In [15]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\Nadun\anaconda3\condabin\New folder\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
lr.score(x_test,y_test)

0.7643636363636364

In [17]:
svm = SVC()

In [18]:
svm.fit(x_train,y_train)

C:\Users\Nadun\anaconda3\condabin\New folder\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [19]:
svm.score(x_test,y_test)

0.7643636363636364